[Unit]
Description=Systemctl init

[Service]
Type=simple
ExecStart=/usr/local/bin/systemctl3.py init
ExecStop=/usr/local/bin/systemctl3.py halt
KillSignal=SIGTERM
TimeoutStopSec=10
RemainAfterExit=yes
