[Unit]
Description=Sv Service (%N)

[Service]
Type=simple
PIDFile=/data/data/com.termux/files/usr/var/run/%N.pid
ExecStart=/data/data/com.termux/files/usr/bin/sv start %N
ExecStop=/data/data/com.termux/files/usr/bin/sv stop %N
ExecReload=/data/data/com.termux/files/usr/bin/sv reload %N
PrivateTmp=true

[Install]
WantedBy=multi-user.target
